@media screen and (max-width: 1024px) {
  /*螢幕視窗的最大寬度為1024px 時，wrapper 元素的寬度為80%。*/
  #wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  /*螢幕視窗的最大寬度為640px 時，li 元素的a 元素上下左右內距為10px。*/
  li a {
    padding: 10px;
  }
}
* {
  margin: 0px; /*外距*/
  padding: 0px; /*內距*/
}
body {
  background-color: beige;
  font-family: Microsoft JhengHei; /*字型：微軟正黑體*/
}
#wrapper {
  margin: 0px auto; /*上下外距為0px 左右外距為auto*/
  width: 1024px;
}
#logo {
  height: 247px;
}
#logo img {
  width: 100%;
}
nav {
  background-color: #b63d32;
  text-align: center; /*文字置中對齊*/
}
ul {
  display: inline-block; /*設定元素的區框類型為行內元素，使ul於nav中水平置中*/
  margin: 0px;
}
li {
  list-style-type: none; /*設定項目清單樣式為無樣式*/
  float: left;
  text-align: center;
}
li a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
}
li a:hover {
  /*滑鼠滑過連結時的效果，此時文字顏色會變成黃色*/
  color: #ffc90e;
}
#sidebar {
  width: 250px;
  height: 350px;
  float: left; /*sidebar元素靠左浮動*/
  background-color: #ffe634;
}
#sidebar ul {
  margin-left: 65px; /*ul元素的左外距設定為65px*/
  margin-top: 30px; /*ul元素的上外距設定為30px*/
}
#sidebar li {
  float: none; /*將li元素從靠左浮動恢復成直向排列*/
}
#sidebar li a {
  color: #000000; /*將li a元素的文字顏色從白色改為黑色*/
  padding: 10px 20px; /*將li a元素的內距從15px 20px 改為10px 20px*/
  border-style: solid; /*設定邊框樣式為實線*/
  border-color: #b63d32; /*設定邊框顏色為酒紅色*/
  margin: 10px;
}
#sidebar li a:hover {
  color: #ffffff;
  border-color: #ffffff;
}
#content {
  width: 774px;
  height: 350px;
  float: left;
  background-color: #f4f4ed;
}
#content_in {
  padding: 30px 50px; /*上下內距30px 左右內距50px*/
  /*text-align: center;
  background-color: #f4f4ed;*/
}
#content_in h1 {
  color: #b63d32;
  margin-bottom: 10px; /*下外距10px*/
}
#content_in p {
  font-size: 15px; /*文字大小15px*/
  margin-bottom: 20px; /*下外距20px*/
}
#content_in a {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px; /*行高設定與元素a相同，確保文字內容垂直置中*/
  margin: 0px auto;
  text-decoration: none; /*設定不顯示任何文字特效*/
  background-color: #b63d32;
  color: #ffffff;
  text-align: center;
}
footer {
  clear: both;
  background-color: #71552a;
  text-align: center;
}
footer p {
  font-size: 10px;
  color: #ffffff;
  padding: 10px 0px; /*上下內距10px 左右內距0px*/
}
